html {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
}
body {
    background-color: #EBF2FC;
}